body{
margin: 0;
padding: 0;
outline: 0;
background-color: #f0f2f5;
}
.logo{
width: 301px;
height: 106px;
margin: -28px;
}
.title-text{
font-size: 28px;
font-weight: normal;
line-height: 32px;
margin-top: 16px;
width: 500px;
}
.content{
padding-top: 112px;
}
.txt-box{
padding-top: 100px;
margin-left: 149px;
}
.log-form{
display: block;
height: 350px;
width: 396px;
margin: 40px 0 0;
padding: 20px 18px 28px;
background-color: #fff;
text-align: center;
justify-items: center;
border-radius: 8px;
box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
.log-form .input{
width: 100%;
height: 52px;
border: 1px solid #dddfe2;
border-radius: 6px;
}
.input:focus{
outline: none;
border-color: #1877f2;
box-shadow: 0 0 0 2px #e7f3ff;
caret-color: #1877f2;
}
.pass{
margin-top: 12px;
margin-bottom: 16px;
}
.log-form input{
padding: 14px 16px;
}
.button{
background-color: #1877f2;
border: none;
border-radius: 6px;
font-size: 20px;
line-height: 48px;
padding: 0 16px;
width: 100% ;
color: #fff;
font-weight: bold;
margin-bottom: 12px;
}
hr{
margin-bottom: 24px;
}
.create-btn{
border: none;
border-radius: 6px;
font-size: 17px;
line-height: 48px;
padding: 0 16px;
width: 196px;
height: 48px;
background-color: #42b72a;
}
.create-btn a{
font-weight: bold;
text-decoration: none;
color: #fff;
}
.forget-btn{
color: #1877f2;
font-size: 15px;
text-decoration: none;
}
.forget-btn:hover{
color: #1877f2;
text-decoration: underline;
}
/*--------*/
.sign_up_inp{
width: 100%;
height: 40px;
border-radius: 5px;
border: 1px solid #CCD0D5;
padding: 10px 5px;
margin-bottom: 10px;
background-color: #F5F6F7;
}