body{
background: #18191A;
}
.profile_upper_main{
	background: #242526;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

}
.dark-nav{
background: #242526;
padding: 4px;
padding-bottom: 0px;
border-bottom: 1px solid  #3A3B3C;}
.middle .btn{
width: 120px;
height: 52px;
padding-top: 15px;
}
.middle .btn .svg-inline--fa{
height: 24px;
width: 24px;
color: #A7A9AE;
}
.middle .btn:hover{
background-color: #3A3B3C;
}
.search-box{
width: 280px;
height: 40px;
margin: 0;
padding: 0;
margin-left: 10px;
display: flex;
border-radius: 50px;
background: #3A3B3C;
}
.search-box span{
padding-top: 10px;
padding-left: 15px;
}
.search-box span a{
color: #A7A9AE;
}
.form-control{
height: 100%;
width: 100%;
padding-left: 10px;
border-radius: 50px;
background: #3A3B3C;
border: none;
color: #fff;
}
.form-control:focus{
background-color: #3A3B3C;
border: none;
box-shadow: none;
color: #fff;
}
.right-side a{
height: 42px;
width: 42px;
margin: 0px 4px;
text-align: center;
border-radius: 50%;
background: #3A3B3C;
font-size: 19px;
color: #fff;
}
.messenger-icon,
.bell-ico{
padding-top: 5px;
}
.menu-ico img{
height: 32px;
width: 32px;
}
svg{
fill: #fff;
}
.user-img {
overflow: hidden;
}
.user-img img{
height: 40px;
width: 40px;
border-radius: 50%;
}
.material-symbols-outlined{
font-size: 28px !important;
margin-top: 6px;
}
/*tooltip custmization*/
.tooltip-inner{
max-width:310px;
height: 32px;
padding:4px 8px;
color:#000;
text-align:center;
background-color:#C8C8C8;
}
.tooltip-arrow {
display: none !important;
}
.cover-img{
max-width: 1242px;
max-height: 463px;
overflow: hidden;
position: relative;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}
.cover_btn{
position: absolute;
right: 25px;
bottom: 20px;
background-color: #fff;	
width: 163px;
height: 36px;
border: none;
font-weight: 500;
border-radius: 6px;
}
/*------*/
.user_avatar{
position: absolute;
top: 480px;
margin-left: 30px;
border-radius: 50%;
border: 4px solid #242526;
}
.user_avatar img{
height: 168px;
width: 168px;
border-radius: 50%;
overflow: hidden;
}
.user_name{
    padding-left: 100px;
    padding-top: 20px;
color: #fff;
}
.user_name h2{
text-transform: capitalize;
font-weight: 700;
}
.user_name h6{
	color: #B0B3B8;
}
/**/
.top-btn{
	margin-top: 80px;
	margin-left: 60px;
}
.story-btn{
	width: 133px;
	height: 36px;
	border-radius: 6px;
	border: none;
	color: #fff;
	background-color: #2374E1;
	margin-right: 8px;
}
.edit-pro-btn{
	width: 133px;
	height: 36px;
	border-radius: 6px;
	border: none;
	color: #fff;
	background-color: #3A3B3C;
}

.user-pro-divi hr{
	margin-top: 30px;
color: #fff;
width: 1200px;
margin-left: 10px;
margin-bottom: 4px;
}

/*sub nav */
.sub-nav{
	padding-bottom: 8px;
}
.sub-nav-content .nav-link{
color: #B0B3B8;
font-weight: 600;
height: 50px;
width: 90px;
margin: 0;
text-align: center;
border-radius: 9px;
padding-top: 15px;
padding: 0;
padding-top: 15px;

}
.sub-nav-content .nav-link:hover{
	background-color: #3A3B3C;
}
/*........*/

.left_portion{
	padding: 0;
}
.user_intro{
	background-color: #242526;
	color: #fff;
	margin: 20px 0px;
	border-radius: 8px;
	padding: 10px;
}
.user_bio p{
	text-align: center;
}
.user_bio .bio_btn{
	color: #fff;
	font-weight: 600;
	border: none;
	height: 36px;
	background-color: #3A3B3C;
}
.user_bio .bio_btn:hover{
	border: none;

}
.user_bio .bio_btn{
	width: 100%;
	margin-bottom: 18px;
} 
.upload_section{
	background-color: #242526;
	color: #fff;
	border-radius: 8px;
	margin: 20px 10px;
	padding: 15px;
	margin-right: 50px;
}
.status_bar{
	display: flex;
}
.status_bar a img{
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

.status_bar .status_btn{
	color: #B0B3B8;
	text-align: left;
	padding: 0px 20px;
	height: 42px;
	background-color:#3A3B3C;
	width: 100%;
	border: none;
	margin: 0px 10px;
	border-radius: 50px;
}

.modal-content{
	color: #000;
}
.navigation ul{
display: flex;
list-style: none;
margin: 0;
}
.navigation ul li a{
	color: #B0B3B8;
	border: none;
	width: 216px;
	height: 40px;
	display: block;
	text-align: center;
}

.navigation ul li a:hover{
	background-color:#3A3B3C ;
}
.navigation ul li a .fa-video{
	color: #F3425F;
	height: 24px;
	width: 24px;
}
.navigation ul li a .fa-photo-film{
	color: #58C472;
	height: 22px;
	width: 22px;
}
.navigation ul li a .fa-flag{
	color: #39AFD5;
	height: 20px;
	height: 20px;
}
.btn.active{
border-bottom: 3px solid #1978f0;
border-radius: 0;
}
.btn.active i{
	color: #1978f0;
}
.btn.active:hover{
	background-color: #242526;

}








