<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% load static %}
		<!-- CSS only -->
		<link rel="stylesheet" href="{%static 'css/bootstrap.css'%}">
		<link rel="stylesheet" href="{%static 'css/all.css'%}">
		<link rel="stylesheet" href="{%static 'css/index.css'%} ">
		<title>Document</title>
	</head>
	<body>
		{%block body%}{%endblock%}
		<script src="{%static 'js/bootstrap.bundle.js'%}"></script>
		<script src="{%static 'js/all.js'%}"></script>
		<script src="{%static 'js/custom.js'%}"></script>
	</body>
</html>