{%extends 'base.html'%}
{%block body%}
{%load static%}
<div class="container">
	<div class="content row">
		<div class="col-md-7">
			<div class="txt-box">
				<img class="logo" src="{%static 'images/logo.svg'%}" alt="">
				<h2 class="title-text">Facebook helps you connect and share with the people in your life.</h2>
			</div>
		</div>
		<div class="col-md-5">
			<div class="log-form">
				<form action="." method="POST">
					{%csrf_token%}
					<input class="input" name="user_name" type="text" placeholder="Email address or phone number" aria-label="Email address or phone number" required><br>
					<input class="input pass" name="user_pass" placeholder="Password" aria-label="Password"type="password" required><br>
					<button class="button" type="submit">Log In</button><br>
					<a href="#" class="forget-btn">Forgotten password?</a><br><hr>
					<button class="create-btn"  data-bs-toggle="modal" data-bs-target="#create_form">Create New Account</button>
				</form>
			</div>
			<div class="modal fade" id="create_form" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="status_openLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content sign_up_modal">
						<div class="modal-header">
							<div class="modal_content_ttl d-block">
								<h2 class="m-0">Sign Up</h2>
								<p>It's quick and easy.</p>
							</div>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body ">
							<form action="#">
								<div class="input_grp">
									<div class="row">
										<div class="col-6 p-1"><input class="sign_up_inp" type="text" placeholder="First name"></div>
										<div class="col-6 p-1"><input class="sign_up_inp" type="text" placeholder="Last name"></div>
										<div class="col-12 p-0"><input class="sign_up_inp" type="text" placeholder="Mobile number or email address"></div>
										<div class="col-12 p-0"><input class="sign_up_inp" type="password" placeholder="New password"></div>
										<div class="col-12 p-0 birthINFO">
											<p>Date of birth</p>
											<select class="m-0" id="birthDay">	
											</select>
											<select id="birthMonth">
												<option value="1">Jan</option>
												<option value="2">Feb</option>
												<option value="3">Mar</option>
												<option value="4">Apr</option>
												<option value="5">May</option>
												<option value="6">Jun</option>
												<option value="7">Jul</option>
												<option value="8">Aug</option>
												<option value="9">Sep</option>
												<option value="10">Oct</option>
												<option value="11">Nov</option>
												<option value="12">Dec</option>
											</select>
											<select id="birthYear">	
											</select>
										</div>
										<div class="col-12 p-0 gender_box">
											<p>Gender</p>
											<span><label>Female
											<input name="gender" type="radio"></label></span>

											<span><label>Male
											<input name="gender" type="radio"></label></span>

											<span><label>Custom
											<input name="gender" type="radio"></label></span>
										</div>
									</div>
								</div>

								<div class="sub_decs">
									<p>People who use our service may have uploaded your contact information to Facebook. Learn more.</p>

									<p>By clicking Sign Up, you agree to our Terms, Data Policy and Cookie Policy. You may receive SMS notifications from us and can opt out at any time.</p>
								</div>

								<div class="text-center">
									<button class="btn btn-success" type="submit">Sign Up</button>
								</div>
								
								
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="{%static 'js/jquery.js'%}"></script>
{%endblock%}