<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% load static %}
		<!-- CSS only -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
		<!-- JavaScript Bundle with Popper -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
		<link rel="stylesheet" href="{%static 'css/index.css'%} ">
		<title>Document</title>
	</head>
	<body>
		<div class="container">
			<div class="content row">
				<div class="col-md-7">
					<img class="logo" src="{%static 'images/logo.svg'%}" alt="">
					<h2 class="title-text">Facebook helps you connect and share with the people in your life.</h2>
				</div>
				<div class="col-md-5">
					<div class="log-form">
						<form action="." method="POST">
							{%csrf_token%}
							<input class="input" name="user_name" type="text" placeholder="Email address or phone number" aria-label="Email address or phone number"><br>


							<input class="input" name="user_pass" placeholder="Password" aria-label="Password"type="password"><br>

							<button class="button" type="submit">Log In</button><br>
							<a href="#">Forgotten password?</a><br><hr>
							<button class="create-btn"><a href="#">Create New Account</a></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>