{%extends 'base.html'%}
{%block body%}
{%load static%}
<div class="container">
	<div class="content row">
		<div class="col-md-7">
			<div class="txt-box">
				<img class="logo" src="{%static 'images/logo.svg'%}" alt="">
				<h2 class="title-text">Facebook helps you connect and share with the people in your life.</h2>
			</div>
		</div>
		<div class="col-md-5">
			<div class="log-form">
				<form action="." method="POST">
					{%csrf_token%}
					<input class="input" name="user_name" type="text" placeholder="Email address or phone number" aria-label="Email address or phone number" required><br>
					<input class="input pass" name="user_pass" placeholder="Password" aria-label="Password"type="password" required><br>
					<button class="button" type="submit">Log In</button><br>
					<a href="#" class="forget-btn">Forgotten password?</a><br><hr>
					<button class="create-btn"><a href="profile">Create New Account</a></button>
				</form>
			</div>
		</div>
	</div>
</div>
{%endblock%}