{%extends 'logged_base.html'%}
{%block body%}
{%load static%}
<section class="profile_upper_main">
	<!-- cover photo -->
	<div class="cover_photo container">
		<div class="cover-img">
			{%for x in data %}
			{% if x.cover_img %}
			<image src="{{x.cover_img.url}}">
			{% else %}
			<image src="{%static 'images/default_cover.jpg'%}">
			{% endif %}
			{%endfor%}
			<button class="cover_btn"> <span><i class="fa-solid fa-camera"></i></span> Add Cover Photo</button>
		</div>
	</div>
	<!-- end cover photo -->
	<!-- user image  -->
	<div class="container user_pro">
		<div class="row">
			<div class="col-md-1 p-0">
				<div class="user_avatar">
					<image src="{%static 'images/user.jpg'%}">
				</div>
			</div>
			<div class="col-md-7">
				<div class="user_name">
					{%for x in data %}
					<h2>{{x.user_name}}</h2>
					{%endfor%}
					<h6>100  friend</h6>
				</div>
			</div>
			<div class="col-md-4">
				<div class="top-btn">
					<button class="story-btn"> <span><i class="fa-solid fa-circle-plus"></i></span> Add to Story</button>
					<button class="edit-pro-btn"> <span><i class="fa-solid fa-pen"></i></span> Edit profile</button>
				</div>
			</div>
		</div>
		<div class="user-pro-divi"><hr></div>
		<div class="sub-nav">
			<ul class="nav sub-nav-content">
				<li class="nav-item">
					<a class="nav-link" href="#">Posts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Friends</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Photos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Videos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Check-ins</a>
				</li>
				<li class="nav-item">
					<!-- drop menu -->
					<div class="dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" href="#">More</a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li><a class="dropdown-item" href="#">Something else here</a></li>
						</ul>
					</div>
					<!-- drop menu end -->
				</li>
				
			</ul>
		</div>
	</div>
	<!-- end user image -->
</section>
<div class="container mother_section">
	<div class="row">
		<div class="col-md-4 left_portion ">
			<div class="user_intro">
				<h5>Intro</h5>
				<div class="user_bio">
					{%for x in data %}
					<p>{{x.user_bio}}</p>
					{%endfor%}
					
					<button data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="bio_btn btn">Edit Bio</button>
					<!-- Modal -->
					<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<form id="post_form">
										{%csrf_token%}
										<input type="text" id="text" name="text">
										<button type="submit">save changes</button>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- more button -->
					<button class="bio_btn btn">Edit details</button>
					<button class="bio_btn btn ">Add Hobbies</button>
					<button class="bio_btn btn">Add Featured</button>
				</div>
			</div>
		</div>
		<div class="col-md-8 right_portion">
			<div class="upload_section">
				<div class="status_bar">
					<a href="#"><image src="{%static 'images/user.jpg'%}"></image></a>
					<button data-bs-toggle="modal" data-bs-target="#status_open" class="status_btn">What's on you mind ?</button>
					<div class="modal fade" id="status_open" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="status_openLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="status_openLabel">status</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<h2>status</h2>
									<form id="post_form">
										{%csrf_token%}
										<input type="text" id="text" name="text">
										<button type="submit">save changes</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="navigation">
					<ul>
						<li><a class="btn" href="#"><span><i class="fa-solid fa-video"></i></span>Live video</a></li>
						<li><a class="btn" href="#"><span><i class="fa-solid fa-photo-film"></i></span>Photo/video</a></li>
						<li><a class="btn" href="#"><span><i class="fa-solid fa-flag"></i></span>  Life event</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="{%static 'js/jquery.js'%}"></script>
<script type="text/javascript">
	$(document).on('submit','#post_form', function(e){
		e.preventDefault();
		$.ajax({
			type:'POST',
			url:'',
			data:{
				text:$('#text').val(),
				csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
			},
			success: function(){
			}
		});
	});
</script>
{%endblock%}